{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1 class="display-4 text-center my-4">Author List</h1>

  {% if is_librarian %}
  <div class="mb-3">
    <a class="btn btn-success" href="{% url 'author_create' %}">Create Author</a>
  </div>
  {% endif %}

  {% if author_list %}
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        {% for author in author_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ author.get_absolute_url }}" class="text-primary">{{ author }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <p class="text-center">No authors available.</p>
  {% endif %}
</div>
{% endblock %}