{% load static %}

<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}Local Library{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 p-4 bg-light">
      {% block sidebar %}
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'book_list' %}">All books</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'author-list' %}">All authors</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item">User: {{ user.get_username }}</li>
        <li class="nav-item"><a class="nav-link" href="{% url 'my-borrowed' %}">My Borrowed</a></li>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger w-100 mt-3">Logout</button>
        </form>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
        {% endif %}
        {% if is_librarian %}
        <li class="nav-item mt-3"><strong>Staff</strong></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'all-loaned-books' %}">All Loaned Books</a></li>
        {% endif %}
      </ul>
      {% endblock %}
    </div>

    <!-- Main content -->
    <div class="col-md-9 col-lg-10 p-4">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>