{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center mb-4">Welcome to Local Library</h1>
      <p class="lead text-center">Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Library Statistics</h2>
      <p>The library has the following record counts:</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Books:</strong> {{ num_books }}</li>
        <li class="list-group-item"><strong>Copies:</strong> {{ num_instances }}</li>
        <li class="list-group-item"><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li class="list-group-item"><strong>Authors:</strong> {{ num_authors }}</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Visitor Information</h2>
      <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
    </div>
  </div>
</div>
{% endblock %}